.carousel-item{
    padding: 20px 40px;
}
i{
    margin-left: 15px;
}
.buy-now-button{
    background-color: #000000;
    border: none;
    padding: 9px 25px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
.carousel-item p{
    margin: 30px 0;
}
.carousel-indicators li{
    width: 20px;
    height: 8px;
    border: none;
    border-radius: 4px;
    background-color: #CECECE;
}
.carousel-indicators li.active{
    width: 35px;
    height: 10px;
    border-radius: 8px;
    background-image: linear-gradient(145deg, #f1c40f, #e67e22);
}
.card{
    text-align: center;
    padding: 30px 60px;
    border: none;
    border-radius: 8px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, .3);
}
.card-title{
    font-size: 15px;
}
.price{
    margin: 30px 0;
}
.phone{
    margin-bottom: 50px;
}
.cat-bar{
    width: 120px;
    height: 8px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(145deg, #f1c40f, #e67e22);
    margin-left: 480px;
}
.cat-box-bg{
    box-shadow: 7px 7px 20px rgba(0, 0, 0, .3);
    border-radius: 15px 0 30px 0;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 30px;

}
.cat-img{
    width: 100%;
}
.footer{
    margin-top: 100px;
}